body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f6;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
h1 {
    text-align: center;
    background-color: #2874f0;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
h2 {
    text-align: center;
    color: #212121;
}

